@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap";
:root, :root.light {
  --bg-color: #fff;
  --font-color: #2d2d2d;
  --sep-color: #e9e9e9;
  --toggle-color: #757575;
  --shadow-color: #0000001a;
  --options-color: #fff;
  --search-color: #f4f4f4;
  --hover: #a445ed;
  --line-color: #e9e9e9;
  --header-color: #757575;
  --validation-color: #ff5252;
  --play_button: url("play_button_light.a193293b.svg");
}

:root.dark {
  --bg-color: #050505;
  --font-color: #fff;
  --sep-color: #e9e9e9;
  --shadow-color: #a445ed;
  --toggle-color: #a445ed;
  --options-color: #1f1f1f;
  --search-color: #1f1f1f;
  --hover: #a445ed;
  --line-color: #3a3a3a;
  --header-color: #757575;
  --validation-color: #ff5252;
  --play_button: url("play_button_dark.d9494db0.svg");
}

:root.sans-serif {
  --font-family: "Inter", sans-serif;
}

:root.serif {
  --font-family: "Lora", serif;
}

:root.monospace {
  --font-family: "Inconsolata", monospace;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

body {
  background-color: var(--bg-color);
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

footer {
  justify-content: start;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
  font-size: 14px;
}

li {
  line-height: 24px;
}

li:before {
  content: "•";
  color: var(--hover);
  width: 1em;
  margin-left: -1em;
  display: inline-block;
}

ul {
  list-style: none;
}

.article {
  flex-direction: column;
  gap: 40px;
  display: flex;
}

.container {
  flex-direction: column;
  gap: 50px;
  width: clamp(327px, 87vw, 737px);
  height: 100%;
  margin-top: 58px;
  display: flex;
}

@media (width >= 768px) {
  .container {
    width: clamp(689px, 90vw, 737px);
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  height: 37px;
  display: flex;
}

.options-box {
  box-shadow: 0 5px 30px 0 var(--shadow-color);
  z-index: 1;
  box-sizing: content-box;
  background-color: var(--bg-color);
  border-radius: 16px;
  width: 183px;
  height: 152px;
  position: absolute;
  top: 47px;
  left: -63px;
  overflow: hidden;
}

.select {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 18px;
  font-weight: bold;
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
  justify-content: end;
  align-items: center;
  gap: 16px;
  width: 120px;
  height: 24px;
  margin: 0;
  padding: 0;
  display: flex;
}

.settings {
  align-items: center;
  gap: 20px;
  display: flex;
  position: relative;
}

.options {
  flex-direction: column;
  gap: 16px;
  width: 90px;
  height: 104px;
  margin: 24px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}

.sans-serif {
  font-family: Inter, sans-serif;
}

.serif {
  font-family: Lora, serif;
}

.monospace {
  font-family: Inconsolata, monospace;
}

.separator {
  background-color: var(--sep-color);
  width: 1px;
  height: 32px;
}

.toggle {
  background-color: var(--toggle-color);
  border-radius: 10px;
  width: 40px;
  height: 20px;
  position: relative;
}

.toggle:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.toggle-checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.toggle-button {
  background-color: #fff;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  margin: 3px;
}

.search-container {
  flex-direction: column;
  gap: 8px;
  width: 100%;
  display: flex;
  position: relative;
}

.search-icon {
  z-index: 1;
  cursor: pointer;
  background-image: url("iconoir_search.64802a77.png");
  background-color: var(--search-color);
  border: none;
  align-items: center;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  top: 23px;
  right: 20px;
}

.search {
  color: var(--font-color);
  background-color: var(--search-color);
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  width: 100%;
  height: 64px;
  padding-left: 24px;
  padding-right: 50px;
  font-size: 20px;
  font-weight: bold;
}

.search:focus-visible {
  border-color: var(--hover);
  border-style: solid;
  border-width: 2px;
  outline: none;
}

.search::placeholder {
  opacity: .25;
}

.search:hover {
  border-color: var(--hover);
}

.results-header-container {
  font-family: var(--font-family);
  color: var(--font-color);
  flex-direction: column;
  font-size: 64px;
  font-weight: bold;
  display: flex;
}

.results-header {
  justify-content: space-between;
  display: flex;
}

.pronouncation {
  color: var(--hover);
  font-size: 24px;
  font-weight: 400;
}

.main {
  flex-direction: column;
  gap: 40px;
  display: flex;
}

.part-of-speech {
  color: var(--font-color);
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  display: flex;
}

.content {
  flex-direction: column;
  gap: 43px;
  display: flex;
}

.line {
  background-color: var(--line-color);
  width: 100%;
  height: 1px;
  display: inline-block;
}

.definition {
  flex-direction: column;
  gap: 43px;
  display: flex;
}

.meanings-header {
  color: var(--header-color);
  font-size: 20px;
  line-height: 24px;
}

.meaning-container {
  flex-direction: column;
  gap: 27px;
  display: flex;
}

.synonyms-header {
  color: var(--header-color);
  font-size: 20px;
  line-height: 24px;
}

.meaning {
  color: var(--font-color);
  flex-direction: column;
  gap: 13px;
  margin: 0;
  display: flex;
}

.synonyms {
  gap: 40px;
  display: flex;
}

.synonyms-list {
  color: var(--hover);
  font-size: 20px;
}

.example {
  color: var(--header-color);
  font-size: 18px;
  line-height: 24px;
}

.source {
  color: var(--header-color);
  font-size: 14px;
}

.link {
  font-size: 14px;
}

.play-button {
  background-image: var(--play_button);
  background-color: var(--bg-color);
  cursor: pointer;
  border: none;
  width: 75px;
  height: 75px;
}

.validation {
  color: var(--validation-color);
  font-size: 20px;
}

.error {
  border: 2px solid var(--validation-color);
}

.error:focus-visible {
  border-color: var(--validation-color);
  border-style: solid;
  border-width: 2px;
  outline: none;
}

.error:hover {
  border-color: var(--validation-color);
}

.error-header {
  font-size: 20px;
  font-weight: bold;
}

.error-info {
  font-size: 18px;
  line-height: 24px;
}

.error-content {
  color: var(--font-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: flex;
}

.sad-emoji {
  font-size: 64px;
}

.loader {
  border: 4px solid #a445ed4d;
  border-top: 4px solid var(--hover);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  animation: 1s linear infinite spin;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=index.ffb4b0b0.css.map */
