:root,
 :root.light {
    --bg-color: #FFFFFF;
    --font-color: #2D2D2D;
    --sep-color: #E9E9E9;
    --toggle-color: #757575;
    --shadow-color: rgb(0, 0, 0, 0.1);
    --options-color: #FFFFFF;
    --search-color: #F4F4F4;
    --hover: #A445ED;
 }

 :root.dark {
    --bg-color: #050505;
    --font-color: #FFFFFF;
    --sep-color: #E9E9E9;
    --shadow-color:#A445ED;
    --toggle-color: #A445ED;
    --options-color: #1F1F1F;
    --search-color: #1F1F1F;
    --hover: #A445ED;
 }

 :root.sans-serif {
    --font-family: sans-serif;
 }

 :root.serif {
    --font-family: serif;
 }

 :root.monospace {
    --font-family: monospace;
 }

 body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
 }

 .container {
    width: 737px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    gap: 50px;
 }

 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
 }

 .settings {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
 }

.select {
    background-color: var(--bg-color);
    border: none;
    color: var(--font-color);
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 24px;
    margin: 0;
    padding: 0;
    align-items: center;
    cursor: pointer;
}

.options-box {
    display: none;
    width: 183px;
    height: 152px;
    box-shadow: 0 5px 30px 0 var(--shadow-color);
    border-radius: 16px;
    position: absolute;
    top: 47px;
    left: -63px;
    overflow: hidden;
    z-index: 1;
    box-sizing: content-box;
    background-color: var(--bg-color);
}

.options-box:not(:focus) {
    display: none;
}

.options {
    display: flex;
    flex-direction: column;
    height: 104px;
    width: 90px;
    gap: 16px;
    margin: 24px;
}

.link {
    font-size: 18px;
    font-weight: bold;
    color: var(--font-color);
    text-decoration: none;
}

.link:hover {
    color: var(--hover);
}

.sans-serif {
    font-family: sans-serif;
}

.serif {
    font-family: serif;
}

.monospace {
    font-family: monospace;
}

.separator {
    width: 1px;
    height: 32px;
    background-color: var(--sep-color);
}

.toggle {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--toggle-color);
    position: relative;
}

.toggle:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.toggle-checkbox {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.toggle-button {
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    border-radius: 100%;
    margin: 3px;
}

.search-icon {
    position: relative;
}

.icon {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center; 
    z-index: 1;
}

.search {
    width: 100%;
    height: 64px;
    background-color: var(--search-color);
    border: none;
    border-radius: 16px;
}

.search:hover {
    border-color: var(--hover);
}